/* css styles */

#abc-logo {
  height: 6cm;
  width: 6cm;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  #abc-logo {
    float: right;
    display: inline;
    margin-left:30px;
  }
}

